{% extends 'base.html.twig' %}
{% block content %}
{% include 'navbar/navbar.html.twig' %}
<h2> vous avez bien été deconnecter</h2>
</br>
<p><a href= " {{ path ('app_frontend_home')}} ">Retourner a l'accueil</a><p>

{% endblock %}