{% extends 'base.html.twig' %}

{# {% block content %}


<section class="form-contact">

<div class="widget-contact"> 
<form class ="form-cont">
<h1 class ="h3 mb-3 font-weight-normal titre-login">Contactez-nous</h1>
{{ form_widget(form) }}
</form>
</div>

</section>
{% endblock %} #}