{% extends 'base.html.twig' %}

{% block content %}
<style> 
div.mentions_leg {
  color: white;
  margin :15px ; 
}
</style>
<div class="mentions_leg">
    <h1 class = "t-conf">MENTIONS LEGALES :</h1>

    <p>Conformément aux dispositions des articles 6-III et 19 de la Loi n° 2004-575 du 21 juin 2004 pour la Confiance dans l'économie numérique, dite L.C.E.N., nous portons à la connaissance des utilisateurs et visiteurs du site : <a href="http://www.ad-installations.fr" target="_blank">www.ad-installations.fr</a> les informations suivantes :</p>

    <p>ÉDITEUR
        <br>
        Le site <a href="http://www.amcem_menuiserie.fr" target="_blank">www.amcem_menuiserie.fr</a> est la propriété exclusive de <strong>AMCEM menuiserie</strong>, qui l'édite.</p>

    

    <p><strong>35 chemin des fontaines</strong>
        <br>
        <strong>93420 Villepinte</strong>
        <br>
        Immatriculée au Registre du Commerce et des Sociétés sous le numéro<strong>9039 2126 0000 19</strong></p>

    <p>Numéro TVA intracommunautaire : <strong>FR73903921260</strong><br />
        Adresse de courrier électronique : <strong>amcem-menuiserie@gmail.com</strong> <br />
        <br />
        Directeur de la  publication : <strong>Istanbullu Yasin</strong><br />
        Contactez le responsable de la publication : <strong>istanbullu.yasinn@gmail.com</strong></p>


    <p><strong>HÉBERGEMENT</strong>
        <br />
        Le site est hébergé par :
        <br />
        <strong>1&1 Internet SARL
            <br />
            7, place de la Gare - BP 70109
            <br />
            57200 Sarreguemines Cedex </strong><br />

</div>



{% endblock %}